<mat-tab-group color='accent'>
  <mat-tab label="Purchases Overview">
    <div class="container">

      <div class="d-flex justify-content-between my-2">
        <input class="rounded-pill form-control col-lg-3 col-md-6" placeholder="Filter Purchases">
        <button mat-raised-button color="primary" class="text-warning font-weight-bold d-none d-md-block" (click)="refreshNow()" >Refresh Now</button>
      </div>
      <!-- Spinner -->
      <mat-progress-spinner mode="indeterminate" color='accent' diameter="40" *ngIf="response == 'Loading'"></mat-progress-spinner>
      <!-- Purchase Table -->
      <div class="" *ngIf="PURCHASE_DATA.length !== 0" >
        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="table-responsive-lg">

            <!-- CommodityName Column -->
            <ng-container matColumnDef="commodityName">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Name</span>
                {{element.commodityName}}
              </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef> Quanitty </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Quantity</span>
                {{element.qty}}
              </td>
            </ng-container>

            <!-- Qty Type Column -->
            <ng-container matColumnDef="qtyType">
              <th mat-header-cell *matHeaderCellDef> Qty Type </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Quantity Type</span>
                {{element.qtyType}}
              </td>
            </ng-container>

            <!-- Wholesale Column -->
            <ng-container matColumnDef="wholesalePrice">
              <th mat-header-cell *matHeaderCellDef> Wholesale Price </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Wholesale Price</span>
                {{element.wholesalePrice | currency : 'NGN' : 'symbol-narrow'}}
              </td>
            </ng-container>

            <!-- Unit Price Column -->
            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef> Unit Price </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Unit Price</span>
                {{element.unitPrice | currency : 'NGN' : 'symbol-narrow'}}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="retailPrice">
              <th mat-header-cell *matHeaderCellDef> Retail Price </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Retail Price</span>
                {{element.retailPrice | currency : 'NGN' : 'symbol-narrow'}}
              </td>
            </ng-container>

            <!-- Profit Column -->
            <ng-container matColumnDef="profit">
              <th mat-header-cell *matHeaderCellDef> Profit </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Profit</span>
                {{element.profit | currency : 'NGN' : 'symbol-narrow'}}
              </td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef> Created </th>
              <td mat-cell *matCellDef="let element">
                <span class="mobile-label">Created</span>
                {{ element.created.split('T')[0] | date }} {{ element.created.split('T')[1].split('Z')[0].split('.')[0]  }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="response == 'Fetched' && PURCHASE_DATA.length == 0">
        <strong>Notice</strong> Purchase Data is empty
      </div>

      <div class="alert alert-danger" *ngIf="PURCHASE_DATA.length == 0 && response !== 'Loading' && response !== 'Fetched'">
        <strong>Notice</strong> {{response}}
      </div>
      <!--Purchase Table  -->
    </div>
  </mat-tab>

  <mat-tab label="Add Purchases & Analysis">
    <div class="container-fluid">
      <div class="row p-2">
        <div class="col-12 bg-white border">
          <div class="d-flex justify-content-between py-2">
            <p class="h6">Purchases</p>
            <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" #menuTrigger>
              <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="text-warning" (click)="openDialog()" ><h4 class="font-weight-bold">Add Purchase</h4></button>
            </mat-menu>
          </div>
          <!-- Purchase Cards -->
          <div class="row w-100 mx-0">
            <div class="col-lg-3 col-md-6 mt-3" *ngFor="let i = index; let each of PURCHASE_DATA">
              <mat-card *ngIf="i <= 16">
                <mat-card-content>
                  <mat-card-title>
                    <p class="h5">{{each.commodityName}}</p>
                  </mat-card-title>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <p class="h6 font-weight-bold">A  total of {{PURCHASE_DATA.length}} purchases in stock</p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
