table {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

