<div>
  <div class="pt-5 d-flex justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-7 bg-white border shadow-lg">
      <form class="p-5">
        <p class="h5">Stock Keeper Login</p>
        <div class="form-row">
          <input class="form-control my-1" placeholder="Email or Phone Number" />
        </div>
        <div class="form-row">
          <input type="password" class="form-control my-1" placeholder="Password" />
        </div>
        <div class="form-row mt-4">
          <button class="btn btn-warning btn-block font-weight-bold">Login</button>
        </div>
        <p class="my-3 h6">Yet to register? <a class="text-warning" routerLink="/layout/register">Create One</a></p>
        <hr>
        <p class="my-3 h6"><a class="text-warning" routerLink="/layout/anonymous">Developer's Zone</a></p>
      </form>
    </div>
  </div>
</div>
