<mat-stepper color="accent">
  <mat-step>
    <ng-template matStepLabel>Add Sales</ng-template>
    <form class="container p-5" [formGroup]="salesForm" (ngSubmit)="addSales()" >
      <div *ngIf="error !== ''" class="alert alert-danger">
        <strong>Error</strong> {{error}}
      </div>
      <p class="display-4">Add Sales</p>
      <div class="row w-100 mx-0">
        <mat-form-field class="col-lg-3 col-md-6">
          <mat-label>Customer Name</mat-label>
          <input matInput name="customerName" formControlName="customerName" >
        </mat-form-field>
      </div>

      <div formArrayName="items">
        <div *ngFor="let i = index; let itemForm of items.controls">
          <div [formGroupName]="i" >
            <div class="d-flex justify-content-between">
              <p class="h5">Item {{i + 1}}</p>
              <button type="button" mat-mini-fab color="accent" (click)="removeItem(i)" >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-form-field class="col-md-3" color="accent">
              <mat-label>Stock Name</mat-label>
              <input matInput formControlName="commodityName" name="stockName" [matAutocomplete]="auto" >
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="calcActualPrice($event, i)">
                <mat-option *ngFor="let each of filteredItems | async" [value]="each" autoActiveFirstOption >
                  {{each}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field color="accent" class="col-md-3">
              <mat-label>Quantity Type</mat-label>
              <mat-select formControlName="qtyType" name="qtyType" (selectionChange)="onSelectQtyType($event, i)" >
                <mat-option value="Congos">Congos</mat-option>
                <mat-option value="Cups">Cups</mat-option>
                <mat-option value="Pieces">Pieces</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" class="col-md-2">
              <mat-label>Quantity</mat-label>
              <input matInput name="qty" formControlName="qty" (keyup)="onQtyChange(i)" >
            </mat-form-field>
            <mat-form-field color="accent" class="col-md-3">
              <mat-label>Actual Price</mat-label>
              <input matInput name="actualPrice" class="disable" formControlName="actualPrice" readonly >
            </mat-form-field>
            <mat-form-field color="accent" class="col-md-3" floatLabel="always">
              <mat-label>Paid Amount</mat-label>
              <input type="number" matInput placeholder="0" class="example-right-align" name="paidAmount" formControlName="paidAmount" (keyup)="calcCreditAmount(i)" >
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field color="accent" class="col-md-3" floatLabel="always">
              <mat-label>Amount on Credit</mat-label>
              <input type="number" matInput placeholder="0" class="example-right-align" name="creditAmount" formControlName="creditAmount" readonly >
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <button type="submit" mat-raised-button color="accent" class="mx-1" [disabled]="isLoading"  >Add Sales</button>
        <button type="button" mat-mini-fab color="accent" class="mx-1" (click)="addMoreItem()" >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Sales Overview</ng-template>
  </mat-step> -->
  <mat-step>
    <ng-template matStepLabel>Sales History</ng-template>
    <app-sales-history></app-sales-history>
  </mat-step>
</mat-stepper>
