<mat-dialog-content>
  <form>
    <p class="h4">Add Purchases</p>
    <mat-form-field class="col-md-4" color="accent">
      <mat-label>Stock Name</mat-label>
      <input matInput [(ngModel)]="stockName" name="stockName" >
    </mat-form-field>

    <mat-form-field class="col-md-4" color="accent">
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="qty" name="qty" (keyup)="onQtyChange()">
    </mat-form-field>

    <mat-form-field class="col-md-4" color="accent">
      <mat-label>Unit Type</mat-label>
      <mat-select [(ngModel)]="qtyType" name="qtyType">
        <mat-option value="Congos">Congos</mat-option>
        <mat-option value="Rolls">Rolls</mat-option>
        <mat-option value="Pieces">Pieces</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-6" color="accent">
      <mat-label>Wholesale Price</mat-label>
      <input matInput [(ngModel)]="wholesalePrice" name="wholesalePrice" (keyup)="onChangeOfWholesale()">
    </mat-form-field>

    <mat-form-field class="col-md-6" color="accent">
      <mat-label>Price Per Unit</mat-label>
      <input [(ngModel)]="pricePerUnit" name="pricePerUnit" matInput disabled>
    </mat-form-field>

    <mat-form-field class="col-md-6" color="accent">
      <mat-label>Retail Price</mat-label>
      <input [(ngModel)]="retailPrice" name="retailPrice" matInput (keyup)="onChangeOfRetail()">
    </mat-form-field>

    <mat-form-field class="col-md-6" color="accent">
      <mat-label>Profit</mat-label>
      <input [(ngModel)]="profit" name="profit" matInput disabled>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onDoneClick()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
