<div>
  <div class="pt-5 d-flex justify-content-center">
    <div class="col-md-4 col-sm-6 bg-white border shadow-lg">
      <form class="p-5">
        <p class="h6">Create an Account Now!</p>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput [formControl]="fullName" placeholder="Dikko Chinedu">
          <mat-error *ngIf="fullName.hasError('required')">
            Full Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Phone</mat-label>
          <span matPrefix>+234 &nbsp;</span>
          <input type="text" matInput [formControl]="phone" placeholder="9087437621">
          <mat-error *ngIf="phone.hasError('maxLength') && !phone.hasError('required')">
            Enter a Valid Phone Number
          </mat-error>
          <mat-error *ngIf="phone.hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Create Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput [formControl]="pword" placeholder="chinedu@31now">
            <mat-error *ngIf="pword.hasError('pattern') && !pword.hasError('required')">
              Wrong Pattern
            </mat-error>
            <mat-error *ngIf="pword.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input (keydown)="confirmPword()" [type]="hide ? 'password' : 'text'" matInput [formControl]="confPword" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="checkPword && !confPword.hasError('required')">
              Must be the same
            </mat-error>
            <mat-error *ngIf="confPword.hasError('required')">
              Password must <strong>match</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <input type="checkbox" class="my-2" (click)="hide = !hide" /> Show Password
        <button (click)="register()" class="btn btn-warning font-weight-bold btn-block">Create Account</button>
      </form>
    </div>
  </div>
</div>
